In [1]:
import pandas as pd
import boto3
import json
import s3fs

import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

HOST = config.get('CLUSTER','HOST')
DB_NAME = config.get('CLUSTER','DB_NAME')
DB_USER = config.get('CLUSTER','DB_USER')
DB_PASSWORD = config.get('CLUSTER','DB_PASSWORD')
DB_PORT = config.get('CLUSTER','DB_PORT')

In [4]:
!pip install s3fs

Collecting s3fs
  Downloading https://files.pythonhosted.org/packages/f1/ff/76ed699715acec23c487f3bb59b6b8be01289d1fe9ff2a447d8c400b6ee8/s3fs-2022.1.0-py3-none-any.whl
Collecting fsspec==2022.01.0 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/f6/90/32e53b96067954c2f916667f5a11634aeabef8ed70e83133ed8037b8111b/fsspec-2022.1.0-py3-none-any.whl (133kB)
    100% |████████████████████████████████| 143kB 8.1MB/s ta 0:00:01
Collecting aiobotocore~=2.1.0 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/4e/8d/01035d9b56893bd3b5d6eb4505d3ed1383d124b1c9c2b6024c175681c64b/aiobotocore-2.1.2.tar.gz (58kB)
    100% |████████████████████████████████| 61kB 18.9MB/s ta 0:00:01
Collecting aiohttp<=4 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/f6/3b/2e3b8a5b19cdceb532c61d83077a09afe1f120cb876fb771b0ce577cc0ea/aiohttp-3.8.1-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1MB)
    100% |████████████████████████████████| 1.1MB 15.1MB/s ta 0:00:01
Collecting botocore<1.23.25,>=1.23.24 (from aiobotocore~=2.1.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/ef/05/cb9048c57f77ab9fa6970d2c88bd92471dc4ccc4bcf5b59c645db9cbdedc/botocore-1.23.24-py3-none-any.whl (8.4MB)
    100% |████████████████████████████████| 8.4MB 4.1MB/s eta 0:00:01    28% |█████████                       | 2.4MB 16.4MB/s eta 0:00:01    43% |██████████████                  | 3.7MB 28.2MB/s eta 0:00:01    59% |███████████████████             | 5.0MB 26.5MB/s eta 0:00:01    89% |████████████████████████████▌   | 7.5MB 25.1MB/s eta 0:00:01
Collecting wrapt>=1.10.10 (from aiobotocore~=2.1.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/ba/8c/3d3dff02ae905157ba417b801f4a7aa4e6fedbc43882e9c765b7aae438ac/wrapt-1.14.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (74kB)
    100% |████████████████████████████████| 81kB 19.8MB/s ta 0:00:01
Collecting aioitertools>=0.5.1 (from aiobotocore~=2.1.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/b4/20/8af729fab3df6827407b060211ffffe79e0d220fba0c4f768de599f3cbe3/aioitertools-0.10.0-py3-none-any.whl
Collecting idna-ssl>=1.0; python_version < "3.7" (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Collecting frozenlist>=1.1.1 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/51/3f/f67395ff0090b9f2835838a1f61c3e840baac70fd65bae762095dead48b2/frozenlist-1.2.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (191kB)
    100% |████████████████████████████████| 194kB 22.8MB/s ta 0:00:01
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/d6/c1/8991e7c5385b897b8c020cdaad718c5b087a6626d1d11a23e1ea87e325a7/async_timeout-4.0.2-py3-none-any.whl
Collecting aiosignal>=1.1.2 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/3b/87/fe94898f2d44a93a35d5aa74671ed28094d80753a1113d68b799fab6dc22/aiosignal-1.2.0-py3-none-any.whl
Collecting asynctest==0.13.0; python_version < "3.8" (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/e8/b6/8d17e169d577ca7678b11cd0d3ceebb0a6089a7f4a2de4b945fe4b1c86db/asynctest-0.13.0-py3-none-any.whl
Collecting charset-normalizer<3.0,>=2.0 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/06/b3/24afc8868eba069a7f03650ac750a778862dc34941a4bebeb58706715726/charset_normalizer-2.0.12-py3-none-any.whl
Collecting typing-extensions>=3.7.4; python_version < "3.8" (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/45/6b/44f7f8f1e110027cf88956b59f2fad776cca7e1704396d043f89effd3a0e/typing_extensions-4.1.1-py3-none-any.whl
Collecting multidict<7.0,>=4.5 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/82/43/81ddfbcfbdfaeaa0624f36dcb715dc8135562377b3292e93b0315a861e92/multidict-5.2.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (159kB)
    100% |████████████████████████████████| 163kB 21.3MB/s ta 0:00:01
Collecting yarl<2.0,>=1.0 (from aiohttp<=4->s3fs)
  Downloading https://files.pythonhosted.org/packages/fa/cb/8791922f5ec97b9ebec516d062c0e113da963568ffe2c7c04d8187ab7cc3/yarl-1.7.2-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (270kB)
    100% |████████████████████████████████| 276kB 20.4MB/s ta 0:00:01
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.6/site-packages (from aiohttp<=4->s3fs) (19.1.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.6/site-packages (from botocore<1.23.25,>=1.23.24->aiobotocore~=2.1.0->s3fs) (2.6.1)
Collecting urllib3<1.27,>=1.25.4 (from botocore<1.23.25,>=1.23.24->aiobotocore~=2.1.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/4e/b8/f5a25b22e803f0578e668daa33ba3701bb37858ec80e08a150bd7d2cf1b1/urllib3-1.26.8-py2.py3-none-any.whl (138kB)
    100% |████████████████████████████████| 143kB 21.2MB/s ta 0:00:01
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from botocore<1.23.25,>=1.23.24->aiobotocore~=2.1.0->s3fs) (0.9.3)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.6/site-packages (from idna-ssl>=1.0; python_version < "3.7"->aiohttp<=4->s3fs) (2.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.23.25,>=1.23.24->aiobotocore~=2.1.0->s3fs) (1.11.0)
Building wheels for collected packages: aiobotocore, idna-ssl
  Running setup.py bdist_wheel for aiobotocore ... done
  Stored in directory: /root/.cache/pip/wheels/e2/fb/d5/511f74b9e3a761fd861b988c5d8ae68fc2233083f396fc8dee
  Running setup.py bdist_wheel for idna-ssl ... done
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built aiobotocore idna-ssl
requests 2.18.4 has requirement urllib3<1.23,>=1.21.1, but you'll have urllib3 1.26.8 which is incompatible.
boto3 1.9.7 has requirement botocore<1.13.0,>=1.12.7, but you'll have botocore 1.23.24 which is incompatible.
awscli 1.16.17 has requirement botocore==1.12.7, but you'll have botocore 1.23.24 which is incompatible.
Installing collected packages: fsspec, urllib3, botocore, idna-ssl, frozenlist, typing-extensions, async-timeout, aiosignal, asynctest, charset-normalizer, multidict, yarl, aiohttp, wrapt, aioitertools, aiobotocore, s3fs
  Found existing installation: urllib3 1.22
    Uninstalling urllib3-1.22:
      Successfully uninstalled urllib3-1.22
  Found existing installation: botocore 1.12.7
    Uninstalling botocore-1.12.7:
      Successfully uninstalled botocore-1.12.7
Successfully installed aiobotocore-2.1.2 aiohttp-3.8.1 aioitertools-0.10.0 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 botocore-1.23.24 charset-normalizer-2.0.12 frozenlist-1.2.0 fsspec-2022.1.0 idna-ssl-1.1.0 multidict-5.2.0 s3fs-2022.1.0 typing-extensions-4.1.1 urllib3-1.26.8 wrapt-1.14.0 yarl-1.7.2

In [3]:
#boto3.resource vs boto3.client
s3 = boto3.resource("s3", 
                  region_name='us-east-1', 
                  aws_access_key_id=KEY, 
                  aws_secret_access_key=SECRET)

In [4]:
bucket_name = "udacity-dend"
prefix = 'song_data/A/B/C/'
b = s3.Bucket(bucket_name)

obj_list = list(b.objects.filter(Prefix=prefix))
obj = obj_list[0]
obj

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/B/C/TRABCAS128F14A25E2.json')

In [5]:
df_song_data = pd.read_json(f's3://{bucket_name}/{obj.key}', lines=True)
df_song_data['artist_latitude']

0   NaN
Name: artist_latitude, dtype: float64

In [9]:
data = pd.read_json('s3a://udacity-dend/log-data/2018/11/2018-11-16-events.json', lines=True)
data.head(10)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Mudhoney,Logged In,Aleena,F,10,Kirby,231.57506,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Get Into Yours,200,1542326457796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
1,Carpenters,Logged In,Aleena,F,11,Kirby,238.39302,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Yesterday Once More,200,1542326688796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
2,None,Logged In,Aleena,F,12,Kirby,NaN,paid,"Waterloo-Cedar Falls, IA",GET,Home,1.541023e+12,637,None,200,1542326691796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
3,Kings Of Leon,Logged In,Aleena,F,13,Kirby,185.28608,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Taper Jean Girl,200,1542326926796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
4,The Bloody Beetroots,Logged In,Aleena,F,14,Kirby,201.97832,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Warp 1.9 (feat. Steve Aoki),200,1542327111796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
5,Kings Of Leon,Logged In,Aleena,F,15,Kirby,201.79546,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Revelry,200,1542327312796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
6,Euge Groove,Logged In,Aleena,F,16,Kirby,265.48200,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Tenderly,200,1542327513796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
7,Soltero,Logged In,Aleena,F,17,Kirby,249.07710,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Bleeding Hearts,200,1542327778796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
8,Nirvana,Logged In,Aleena,F,18,Kirby,257.01832,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Lithium,200,1542328027796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
9,None,Logged In,Jayden,F,0,Duffy,NaN,free,"Seattle-Tacoma-Bellevue, WA",GET,Home,1.540146e+12,635,None,200,1542332019796,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",76

# Read data from Redshift

In [2]:
%load_ext sql

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [35]:
# user over the week
%sql SELECT B.weekday, COUNT(DISTINCT A.user_id) FROM songplays A \
LEFT JOIN time B ON A.start_time = B.start_time \
GROUP BY B.weekday ORDER BY B.weekday

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[(0, 10), (1, 21), (2, 22), (3, 18), (4, 20), (5, 22), (6, 13)]

In [36]:
# user over the day
%sql SELECT B.hour, COUNT(DISTINCT A.user_id) FROM songplays A \
LEFT JOIN time B ON A.start_time = B.start_time \
GROUP BY B.hour ORDER BY B.hour

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
24 rows affected.

[(0, 5),
 (1, 7),
 (2, 2),
 (3, 2),
 (4, 5),
 (5, 5),
 (6, 5),
 (7, 9),
 (8, 11),
 (9, 5),
 (10, 4),
 (11, 12),
 (12, 10),
 (13, 12),
 (14, 9),
 (15, 17),
 (16, 13),
 (17, 17),
 (18, 15),
 (19, 8),
 (20, 9),
 (21, 8),
 (22, 6),
 (23, 8)]

In [31]:
%sql SELECT * FROM songplays LIMIT 3

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(41, datetime.datetime(2018, 11, 16, 20, 13), 49, 'paid', 'SOMVLEG12AB017C1D0', 'ARJKLZN12086C16C46', '648', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (105, datetime.datetime(2018, 11, 19, 7, 11, 29), 24, 'paid', 'SOIOESO12A6D4F621D', 'ARVLXWP1187FB5B94A', '672', 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (169, datetime.datetime(2018, 11, 30, 5, 57, 11), 49, 'paid', 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', '1079', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [5]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARMMJ2R1187B993A72', 'S.O.A.P.', 'Denmark', Decimal('56.27609'), Decimal('9.51694')),
 ('ARO0R521187B98A2D1', '2 Minutos', '', None, None),
 ('AR3GCYN1187B9A279F', 'Gary P. Nunn', 'Texas', None, None),
 ('ARMLETE1187B99070D', 'Canteca de macao', 'Madrid, Spain', None, None),
 ('ARUITN01187FB44935', 'Alphawezen', '', None, None)]

In [6]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOJPVSC12A6D4F924F', 'Anything', 'ARJZGP31187B9ACB5B', 1992, Decimal('289.35791')),
 ('SOTIZUO12A58A7A6CD', 'Raudt Og Svart', 'ARYMVX31187FB4D487', 0, Decimal('368.61342')),
 ('SOFGXZV12AB0185E12', 'Two Satchels Of Light', 'ARBDGN21187FB4C201', 2009, Decimal('187.29750')),
 ('SOGKKYT12AB018185F', 'Friend Bob Marley', 'AR2ZLR21187B98D552', 1997, Decimal('163.91791')),
 ('SOEJPMQ12AB0181068', 'The Look', 'ARKNTGG1187FB4578C', 1999, Decimal('261.53751'))]

In [7]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(69, 'Anabelle', 'Simpson', 'F', 'free'),
 (55, 'Martin', 'Johnson', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free')]

In [29]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cfaobqhq2a6p.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 29, 17, 1, 34), 17, 29, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 19, 16, 26, 36), 16, 19, 47, 11, 2018, 1),
 (datetime.datetime(2018, 11, 13, 8, 30, 1), 8, 13, 46, 11, 2018, 2),
 (datetime.datetime(2018, 11, 15, 13, 44, 58), 13, 15, 46, 11, 2018, 4),
 (datetime.datetime(2018, 11, 26, 13, 55, 17), 13, 26, 48, 11, 2018, 1)]

In [ ]:
%sql SELECT * FROM STL_LOAD_ERRORS ORDER BY starttime DESC